
$orange    = #ffffff

html[data-theme="dark"] {
  body {
      background: #1c1c1c;
  }
  .panel {
    background: #292929;
    color: #dadada;
  }
  .panel2 {
    background-image: radial-gradient(30rem circle at 1263.5px -354.609375px, #505050, #2e2e2e);
    border: 1px solid #7272721c;
    color: #ededed;
  }
  .clippy {
    display: block;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, rgb(62, 207, 142) 0.41%, rgb(62, 207, 142) 40.68%, rgb(62, 207, 178) 64.12%, rgb(62, 207, 178) 97.82%) text, #d9d9ff00;
  }
  .text-purple {
    color: #9f9f9f;
  }
  .dark-panel {
    background: #c2c2c20f;
    color: #dadada;
  }
  .q-menu {
    background: #404040;
    color: white;
  }
.iccu {
      filter: invert(1);
  }

  .text-panel {
    color: #696969;
  }
  .panely3 {
    background-image: radial-gradient(30rem circle at 1263.5px -354.609375px, #505050, #2e2e2e);
    padding: 32px;
    border-radius: 4px;
  }
  .icon {
    opacity: 1;
  }
  .icca {
    filter: brightness(4);
  }
  .q-field--outlined .q-field__control:before {
    border: 1px solid rgba(0,0,0,0) !important;
  }
  .q-field--outlined .q-field__control:after {
      border: 1px solid #c3bcbc6b !important;
  }
  .q-separator {
      background: #ffffff21 !important;
  }
}